@model Store.Models.OrderModel

@{
    ViewBag.Title = "Bus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Перечень работ по обслуживанию автобусов</h2>
    
<h4>Введите сосотяние узлов и агрегатов от 1 до 100(100 новая, 0 не рабочая)</h4>
@using (Html.BeginForm("GetRepearCost", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Body, "Кузов", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Wheels, "Колеса", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Wheels, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Wheels, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Engine, "Двигатель", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Engine, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Engine, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Breaks, "Тормоза", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Breaks, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Breaks, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Suspension, "Ходовая", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Suspension, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Suspension, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cabin, "Салон и поручни", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Cabin, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cabin, "", new { @class = "text-danger" })
        </div>
    </div>

    <h4>Дополительные услуги</h4>
    <div class="form-group">
        @Html.LabelFor(model => model.ChangeSeat, "Смена обивки сидений", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ChangeSeat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ChangeSeat, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <p>
        <input type="submit" value="Расчитать" />
        |
        @Html.ActionLink("Назад", "Index", "Home", null, htmlAttributes: new { @class = "btn-default" })
    </p>

}
