@model Store.Models.ResultModel

<div>
    <h4>Результаты обследования транспортного средства</h4>
    <hr />
    <p>
        Общее состояние : @Model.GeneralState, Стоимость ремонта : @Model.RepearCost,
        @if (Model.AddServ != "")
        {
            <span>Дополнительная услуга : @Model.AddServ,</span>
        }
        else
        {
            <span>Дополнительная услуга : - ,</span>
        }
         К оплате всего : @Model.Amount
    </p>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
